@charset "UTF-8";
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  font-family: "Libre Franklin", sans-serif;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

ul {
  padding: 0;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.4em;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

h4 {
  font-family: "Libre Franklin", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

h5 {
  font-family: "Libre Franklin", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

p {
  font-family: "Libre Franklin", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
}

.navbar a {
  color: #FAFAFA;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.navbar img {
  width: 170px;
}

.footer {
  background-color: #1d1412;
  color: #FAFAFA;
  padding: 20px;
}
.footer .footer__item {
  display: inline-block;
  padding: 10px;
  width: 50px;
  height: 50px;
}

.btn-principal, .btn-form {
  background: #FAFAFA;
  color: #006bb3;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 200px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
}
.btn-principal span, .btn-form span {
  display: inline-block;
  transform: skew(21deg);
}
.btn-principal.btn-principal::before, .btn-form::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: #006bb3;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}
.btn-principal.btn-principal:hover, .btn-form:hover {
  color: #FAFAFA;
}
.btn-principal.btn-principal:hover::before, .btn-form:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}
.btn-principal.btn-principal a:hover, .btn-form a:hover {
  color: #FAFAFA;
}

.input {
  width: 100%;
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #006bb3;
  padding: 0.2rem 0;
  outline: none;
  background-color: transparent;
  color: #1d1412;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.input .input:focus,
.input .input:hover {
  outline: none;
  padding: 0.2rem 1rem;
  border-color: #0000EE;
}
.input.input::placeholder {
  color: #777;
}
.input.input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

.hero {
  background-image: url(../img/hero1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #FAFAFA;
}

.contenedor {
  width: 80%;
  margin: 190px auto;
}

.novedades {
  width: 80%;
  margin: 100px auto;
}
.novedades h2 {
  margin-bottom: 100px;
  text-transform: uppercase;
}
.novedades h3 {
  padding: 20px 0;
}

.productos {
  background-color: #1d1412;
  padding-top: 50px;
  padding-bottom: 100px;
  bottom: 50px;
}
.productos h2 {
  color: #FAFAFA;
  text-transform: uppercase;
  padding: 50px;
}
.productos .productos__img {
  filter: blur(5px);
}
.productos .productos__img.productos__img:hover {
  filter: blur(0);
}

.form h2 {
  color: #1d1412;
  text-transform: uppercase;
  margin-top: 50px;
}
.form .text-area {
  resize: none;
}

/*# sourceMappingURL=main.css.map */
