//Utilities
@import "./utilities/variables",
        "./utilities/mixins",
        "./utilities/funtions";
//Base
@import "./base/reset",
        "./base/typo";
//Layout
@import "./layout/navbar",
        "./layout/footer";
//components
@import "./components/buttons",
        "./components/inputs";
//views
@import "./views/index";

