//contenedor
@mixin contenedor($margin:190px) {
    width: 80%;
    margin: $margin auto
}
//Botones
@mixin botonUno {
    background: color(colorBlanco);
    color: color(primario);
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 200px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    span {
        display: inline-block;
        transform: skew(21deg);
    }
    &.btn-principal::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        left: 0;
        background: color(primario);
        opacity: 0;
        z-index: -1;
        transition: all 0.5s;
    }
    &.btn-principal:hover {
        color: color(colorBlanco);
    }
    &.btn-principal:hover::before {
        left: 0;
        right: 0;
        opacity: 1;
    }
    &.btn-principal a:hover {
        color: color(colorBlanco);
    }
}
@mixin btnArriba {
        background-repeat:no-repeat;
        width: 50px;
        height: 50px;
        margin: 5px;
        padding: 5px 10px 30px 10px;
        background-color: color(textColor);
        border-radius: 50px;
        color: color(colorBlanco);
        cursor:pointer;
        position:fixed;
        bottom:10px;
        right:10px;
        z-index:2;
        svg{
            color: color(colorBlanco);
        }
    }
//input
@mixin inputUno {
    width: 100%;
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: color(primario);
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: color(textColor);
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    .input:focus,
    .input:hover {
        outline: none;
        padding: .2rem 1rem;
        border-color: color(secundario);
    }
    &.input::placeholder {
        color: #777;
    }
    &.input:focus::placeholder {
        opacity: 0;
        transition: opacity .3s;
    }
}
// Text formato //
@mixin h1-style {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 45px
}

@mixin h2-style {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

@mixin h3-style {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

@mixin h4-style {
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

@mixin h5-style {
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

@mixin p-style {
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
}