.footer {
    background-color: color(textColor);
    color: color(colorBlanco);
    padding: 20px;
    .footer__item {
        display: inline-block;
        padding: 10px;
        width: 50px;
        height: 50px;
    }
}