.hero {
    background-image: url(../img/hero1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: color(colorBlanco);
}
.contenedor {
    @include contenedor
}
.novedades {
    @include contenedor(100px);
    h2{
        margin-bottom: 100px;
        text-transform: uppercase;
    }
    h3 {
        padding: 20px 0;
    }
}
.productos {
    background: rgb(55,127,217);
    background: linear-gradient(184deg, rgba(55,127,217,1) 0%, rgba(0,107,179,1) 78%);
    padding: 100px 0;
    h2 {
        margin: 50px 0;
        color: color(colorBlanco);
        text-transform: uppercase;
    }
    h3 {
        background-color: color(colorBlanco);
        color: color(primario);
        text-transform: uppercase;
        padding: 10px;
        display: inline-block;
        width: 90%;
        margin: 50px 0;
        transform: skew(-20deg);
    }
    .card{
        @include cardUno;
    }
}