.hero {
    background-image: url(../img/hero1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: color(colorBlanco);
}
.contenedor {
    @include contenedor
}
.novedades {
    @include contenedor(100px);
    h2 {
        margin-bottom: 100px;
        text-transform: uppercase;
    }
    h3 {
        padding: 20px 0;
    }
}
.productos {
    background-color: color(textColor);
    padding-top: 50px;
    padding-bottom: 100px;
    bottom: 50px;
    h2 {
        color: color(colorBlanco);
        text-transform: uppercase;
        padding: 50px;
    }
}
.form {
    h2 {
        color: color(textColor);
        text-transform: uppercase;
        margin-top: 50px;
    }
    .text-area{
        resize: none;
    }
}