/* Reseteamos los margin y paddings de todas las etiquetas */
    * {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
        vertical-align: baseline;
        font-family: 'Roboto', sans-serif;
        font-family: 'Libre Franklin', sans-serif;
}
/* Evitamos problemas con las imagenes */
    img,
    picture,
    video,
    iframe,
    figure {
        max-width: 100%;
        width: 100%;
        display: block;
}
/* Reseteamos los enlaces para funcionar como cajas... */
    a {
        display: block;
        text-decoration: none;
        color: inherit;
        font-size: inherit;
}
/* ... excepto los que se encuentran en párrafos */
    p a {
        display: inline;
}
/* Quitamos los puntos de los <li> */
    li {
        list-style-type: none;
}
ul {
    padding: 0;
}
/* Configuramos anclas suaves */
    html {
        scroll-behavior: smooth;
}
/* Evitamos problemas con los pseudoelementos de quotes */
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
    content: '';
    content: none;
}
/* Nivelamos problemas de tipografías y colocación de formularios */
    form,
    input,
    textarea,
    select,
    button,
    label {
        font-family: inherit;
        font-size: inherit;
        hyphens: auto;
        background-color: transparent;
        color: inherit;
        display: block;
}
/* Reseteamos las tablas */
    table,
    tr,
    td {
        border-collapse: collapse;
        border-spacing: 0;
}
/* Evitamos problemas con los SVG */
    svg {
        width: 100%;
        display: block;
        fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
    body {
        min-height: 100vh;
        font-size: 100%;
        line-height: 1.4em;
}